<footer class="site-footer">
    <div class="footer-content">
        <div class="copyright">
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
        </div>
        <div class="footer-links">
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/tags">Tags</a>
            <a href="{{ site.baseurl }}/about-us/">Tentang Kami</a>
            <a href="{{ site.baseurl }}/privacy-policy/">Kebijakan Privasi</a>
            <a href="{{ site.baseurl }}/terms-of-service/">Ketentuan Layanan</a>
            <a href="{{ site.baseurl }}/feed.xml">RSS Feed</a>
        </div>
    </div>
</footer>
